.card400 {
	width: 400px;
	box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 3%);
	position: relative;
	display: block;
	flex-direction: column;
	word-wrap: break-word;
	border-radius: .25rem;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 91vh;
}

.chat-user-container {
	display: flex;
	flex-direction: row;
	text-align: center;
	overflow: hidden;
}

.chat-user-container::selection,
.chat-user-container:active {
	background: cadetblue;
	color: brown;
}

.chat-user-container:hover {
	color: #d16767;
}

.flexRowMsg {
	display: flex;
	flex-direction: row;
}

.leftHand {
	flex: 1;
}

.rightHand {
	flex: 19;
}

.chats {
	color: #acbfd2;
	max-height: 90vh;
}

a:any-link .chats:visited,
a:any-link .chats:active {
	background-color: cadetblue;
	color: brown;
}

/* .chats.chats::active {
	background-color: cadetblue;
	color: brown;
} */

.image-container {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	overflow: hidden;
	object-fit: contain;
	justify-content: center;
	position: relative;
}

.chat-user {
	/* color: aliceblue; */
	font-weight: 600;
}

:any-link:hover {
	color: #d16767;
}

.chat-date {
	float: right;
	right: .8rem;
	position: absolute;
	font-size: 11px;
}

.chat-preview {
	display: block;
	font-size: 11px;
	width: 320px;
	transform: translateX(70px) translateY(-38px);
	word-wrap: break-word;
	word-break: keep-all;
}
