.flexRowChat > .rightHand {
	max-height: 87vh;
}

/* .rightHand {
    max-height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
} */

.message-details {
	padding: 2rem;
}

.unread {
	color: #1693a5;
}

.icons {
	float: left;
	position: relative;
	left: 2rem;
}

.icon {
	position: absolute;
	margin: 0 14px;
	transform: translateY(-5px);
}

.icon:hover {
	color: #4638c2;
}

.author {
	left: 10%;
	position: absolute;
}

.subject {
	position: absolute;
}

.date {
	float: right;
	right: 2rem;
	position: absolute;
}

.read {
	color: #ebedef;
}

a:visited {
	text-decoration: none;
}

.c-message {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-around;
}

.c-message,
a:link {
	text-decoration: none;
}

.emailGreyFg {
	background-color: #36404a;
}
.emailGreyBg {
	background-color: #323c44;
}

.emailDeets:hover {
	color: #e55353;
}

.text-center {
	position: absolute;
	left: calc(21% + 200px);
}

.inbox-name {
	padding-left: 1rem;
}
