textarea,
input.form-control {
    background: #d4d4d4;
    color: #000;
}

::placeholder,
.form-control::placeholder {
    color: #333;
}



textarea {
    background: #d4d4d4;
}

input.form-control:focus,
textarea:focus {
    background: #d4d4d4;
    color: #000;
}