.flexRowChat {
	display: flex;
	flex-direction: row;
	height: 89.71vh;
}

.flexRowChat .rightHand {
	max-height: 93vh;
}

.chat-container {
	display: grid;
	height: 85vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #444 url('./chatbg.jpg') no-repeat right top;
	background-size: cover;
}

.chat-container::-webkit-scrollbar {
	display: none;
}

/* .flexRowChat > .leftHand > .card400,
.flexRowChat > .rightHand {
	max-height: 83vh;
} */

.leftHand {
	flex: 1;
}

.rightHand {
	flex: 9;
	position: relative;
}

.c-avatar {
	transform: translateX(70px) translateY(40px);
}

.avatar-one {
	height: 60px;
	width: 60px;
	/* margin-right: 2rem; */
	border-radius: 30px;
	object-fit: contain;
}

.avatar-status {
	height: 16px;
	width: 16px;
	border-radius: 8px;
	border: 1px solid #000;
}

.user-status {
	transform: translate(63px, -35px);
}

.connection-string {
	transform: translateY(-3px);
}

.danger {
	background: #e55353;
}

.warning {
	background: #f9b115;
}

.primary {
	background: #321fdb;
	border: 1px solid #eee;
}

.success {
	background: #2eb85c;
}

.violet {
	background: blueviolet;
	border: 1px solid #eee;
}

.info {
	background: #39f;
}

.theme,
.accent {
	background: #1693a5;
}

.ft2 {
	font-size: 1.3rem;
}

.user {
	padding-top: 4px;
	color: #000;
	font-weight: 600;
	display: inline;
}

.chat-messages {
	color: #313131;
	font-weight: 500;
	/* margin-top: 1rem; */
}

.chat-input-box {
	position: absolute;
	width: 100%;
	bottom: 1rem;
	display: block;
}

.chatapp .form-control {
	width: 98.9%;
	position: absolute;
	margin-left: .5rem;
	float: left;
	margin: 12px;
	padding: 1.5rem;
	z-index: 1;
}

.chatapp button {
	color: #d16767;
	border: 3px solid #d16767;
	width: 110px;
	/* right: 1rem; */
}
.chatapp button:hover {
	color: #eee;
	background: #e03232;
}

.chat-send {
	position: absolute;
	right: 1rem;
	margin: 0 .5rem;
	float: right;
	margin: 18px 12px;
	z-index: 20;
}
