.flexRowChat {
	display: flex;
	flex-direction: row;
}

.leftHand {
	flex: 1;
}

.rightHand {
	flex: 19;
	position: relative;
}

.ft2 {
	font-size: 1.3rem;
}

.user {
	padding-top: 8px;
	color: #000;
	font-weight: 600;
}

.chat-messages {
	color: #000;
	font-weight: 500;
}

.chat-input-box {
	position: absolute;
	width: 100%;
	bottom: 1rem;
	display: block;
	flex-direction: row;
}

.chatapp .form-control {
	width: 98%;
	position: absolute;
	margin-left: .5rem;
	float: left;
	margin-top: 22px;
	padding: 1.5rem;
	z-index: 1;
}

.chatapp button {
	color: #d16767;
	border: 1px solid #d16767;
}
.chatapp button:hover {
	color: #eee;
	background: #e03232;
}

.chat-send {
	position: absolute;
	right: 1.4rem;
	margin: 0 .5rem;
	float: right;
	margin: 30px 12px;
	flex: 1;
	z-index: 20;
}

.chat-container {
	display: grid;
	height: 81vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #fff url('./chatbg.jpg') no-repeat right top;
	background-size: cover;
}

.flexRowChat .leftHand,
.flexRowChat .rightHand {
	height: 91vh;
}
