.flexRowChat {
	display: flex;
	flex-direction: row;
}

.leftHand {
	flex: 1;
}

.rightHand {
	flex: 19;
	position: relative;
}

.ft2 {
	font-size: 1.3rem;
}

.user {
	padding-top: 8px;
	color: #000;
	font-weight: 600;
}

.chat-messages {
	color: #000;
	font-weight: 500;
}

.chat-input-box {
	position: absolute;
	width: 100%;
	height: 25px;
	bottom: 0.5rem;
	display: flex;
	flex-direction: row;
}

.form-control {
	width: 98%;
	position: absolute;
	margin-left: .5rem;
	float: left;
	margin-top: 22px;
	padding: 1.5rem;
	z-index: 1;
}

.chat-send {
	position: absolute;
	right: 1.4rem;
	margin: 0 .5rem;
	float: right;
	margin: 30px 12px;
	flex: 1;
	z-index: 20;
}

.chat-container {
	display: grid;
	height: 69vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #fff url('./chatbg.jpg') no-repeat right top;
	background-size: cover;
}
