.flexRowMsg {
	display: flex;
	flex-direction: row;
}

.leftHand {
	flex: 1;
}

.rightHand {
	flex: 19;
}

.chat-bubble {
	font-size: small;
}

.outgoing,
.incoming {
	margin: .8rem;
	min-height: 3rem;
	display: block;
	border-radius: .25rem;
}

.outgoing {
	width: 80%;
	float: right;
	margin-right: 1.5rem;
}

.incoming {
	background-color: #f4dbb5;
	width: 80%;
	float: left;
	margin-left: 1.5rem;
}

.received-time,
.sent-time {
	float: right;
	margin-right: .3rem;
	font-size: smaller;
}

.outgoing {
	position: relative;
	padding: 10px;
	border: solid lightpink;
	background: lightpink;
}

.outgoing::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 16px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 26px solid lightpink;
	border-bottom: 13px solid transparent;
}

.incoming {
	position: relative;
	padding: 10px;
	border: solid bisque;
	background: bisque;
}

.incoming:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 16px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 26px solid bisque;
	border-bottom: 13px solid transparent;
}
