* {
	font-family: 'Poppins';
	font-weight: 500;
	letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Oswald';
	font-weight: 600;
}

.text-theme {
	color: #1693a5;
	font-weight: bold;
}

.flexRow {
	display: flex;
}

.welcome-text {
	font-family: 'Oswald';
	align-items: start;
	justify-content: center;
	margin-bottom: 7rem;
}

.textLight {
	color: #b9b9b9;
}

.sb {
	justify-content: space-between;
}

.infoButton {
	margin: 0 0 0 20px;
}

.sa {
	justify-content: space-around;
}

.btn200 {
	width: 200px;
}

.btn180 {
	width: 180px;
}

.btn120 {
	width: 120px;
}

.h30 {
	height: 30px;
}

.floatRight {
	right: 3rem;
	position: absolute;
}
.floatLeft {
	position: absolute;
	left: 4rem;
}

.right {
	float: right;
}

.floatCenter38 {
	position: absolute;
	left: 38%;
}

.floatCenter {
	position: absolute;
	left: 29%;
}

.paddingTop1 {
	padding-top: 1rem;
}

.anchorLeft {
	position: absolute;
	left: 2rem;
	transform: translateY(260%);
}

.bold {
	font-weight: 600;
}

.accent {
	color: #1693a5;
}

.emailGreyFg {
	background-color: #36404a;
}
.emailGreyBg {
	background-color: #323c44;
}

.darkerBg {
	background-color: #191919;
}

.rd1 {
	right: .3rem;
}

.ld1 {
	left: .3rem;
}

.r1 {
	right: 1rem;
}

.posa {
	position: absolute;
	margin-bottom: 1rem;
}

.l1 {
	left: 1rem;
}

.secondary {
	color: #ced2d8;
}

.dark {
	color: #636f83;
}

.light {
	color: #ebedef;
}
.primary {
	color: #321fdb;
}

.violet {
	color: blueviolet;
}
.success {
	color: #2eb85c;
}

.info {
	color: #39f;
}
.warning {
	color: #f9b115;
}
.danger {
	color: #e55353;
}

.w100 {
	width: 100%;
}