// Here you can add other styles
.c-subheader,
.c-sidebar,
.c-header-nav-item,
.card {
	background-color: #23242d;
	color: #ebedef;
}

.c-subheader a,
.danger {
	color: #d16767;
}

.c-header,
.c-header-nav-item {
	background-color: #157b80;
	color: #ebedef;
}

.c-footer,
.c-sidebar .c-sidebar-brand,
thead .thead-light,
.card-header {
	background-color: #157b80;
}

.text-main {
	color: #157b80;
}

.c-body,
.c-main {
	background-color: #121212;
}

.c-main {
	padding: 8px;
}

.darkenBg {
	background-color: #1d1d1d;
}

.lightenBg {
	background-color: #f3f3f300;
}

.normalBg {
	background-color: #23242d;
}

.card {
	border: none;
}

.c-subheader .breadcrumb .breadcrumb-item,
.c-subheader .c-subheader-nav .c-subheader-nav-link,
.c-header .c-header-nav .c-header-nav-link {
	color: #ebedef;
}
.c-subheader .breadcrumb .breadcrumb-item:hover,
.c-subheader .c-subheader-nav .c-subheader-nav-link:hover,
.c-header .c-header-nav .c-header-nav-link:hover {
	color: salmon;
}
.c-header .c-header-toggler-icon {
	background-color: #09eaf2;
}

.c-header .c-header-nav-item {
	border-bottom: none;
	color: #eee;
}

table {
	background: #23242d;
	color: #ffffff;
}

table th .thead-light {
	background-color: #157b80;
}

.no-border {
	border: none;
}

.c-header {
	border-bottom: none;
}

.c-header .c-subheader {
	margin-top: 0;
	border-top: none;
}

@media (min-width: 768px) {
	.c-main > .container-fluid,
	.c-main > .container-sm,
	.c-main > .container-md,
	.c-main > .container-lg,
	.c-main > .container-xl,
	.c-main > .container-xxl {
		padding-right: 2px;
		padding-left: 2px;
	}
}
