// Variable overrides

$table-head-bg: #157b80;
$table-border-color: #555;
$table-head-color: #eeeeee;
$table-color: #ebedef;
$table-bg: #23242d;
$table-accent-bg: #222;

$subheader-color: #002c2e11;
$link-color: #4638c2;